.finsh{
background-color: #1c1d21;
height: 460px;
text-align: center;

}
.finsh ul{

    list-style: none;
    padding: 0;
    margin-left: 430px;
    text-align: center;
    margin-top: 30px;
}
.li-finsh{
    float: left;
    width: 45px;
    background-color: rgb(14, 111, 238);
    margin-left:20px ;
   height: 45px;
   border-radius: 50%;
   border-style: initial;

}.contant-finsh .text2{
margin: 120px auto;

}



.li-finsh i{
    padding: 10px;

margin: 0;
font-size: 25px;
color: white;
}